body.post {
    /* background-position: center; */
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    backdrop-filter: blur(20px);
    background-image: var(--background_images);
}

body.post main {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    background-color: var(--background_color_filter);
}

body.post main .art {
    background-color: white;
    height: 100%;
    width: 100%;
    margin: 40px 0;
    padding: 100px;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

body.post main .art h1 {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1.5px;
    margin: 20px 0;
}

body.post main .art h2 {
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 20px 0;
}

body.post main .art h3 {
    font-weight: 900;
    text-transform: uppercase;
    margin: 10px 0;
}

body.post main .art img {
    display: block;
    width: 90%;
    margin: 40px 0;
    height: auto;
    border-radius: 10px;
}

body.post main .art img.icon {
    display: block;
    width: 100px;
    margin: 10px 0;
    height: auto;
    /* border-radius: 10px; */
}

body.post main .post-title {
    display: flex;
    align-items: center;
    width: 100%;
    text-transform: uppercase;
}

body.post main .post-title .material-icons {
    margin-right: 20px;
}

.post-title a i.material-icons {
    color: white;
}

.post-title h1 {
    color: white;
}

.img-filter {
    display: none;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.753);
    top: 0;
    right: 0;
    backdrop-filter: blur(20px);
    width: 100%;
    height: 100%;
    position: fixed;
}

.img-filter img {
    display: block !important;
    position: fixed !important;
    top: 0;
    width: 90%;
    margin: 40px 0;
    height: auto;
    border-radius: 10px;
}