header {
    background-color: var(--background_color);
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 100px 10vw;
    background-size: cover;
    background-position: 0 10%;
    color: rgb(231, 231, 231);
    min-height: 40vh;
    position: relative;
    background-attachment: fixed;
    /* box-shadow: rgba(0, 0, 0, 0.8) 0px 2px 10px; */
}

.profiles-background {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.profile-images,
.profile-info,
.profile-card {
    z-index: 10;
}

.profile-images img {
    margin-right: 60px;
    border-radius: 10000px;
    width: 250px;
    height: 250px;
    /* box-shadow: rgba(255, 255, 255, 0.4) 0px 0px 100px; */
}

header .profile-info {
    width: 50%;
    text-transform: uppercase;
}

header .profile-info h1 {
    letter-spacing: 3px;
    font-weight: 900;
    font-size: 60px;
}

header .profile-info span {
    display: block;
    margin: 10px 0;
    font-weight: 900;
    opacity: .6;
    font-size: 20px;
}

header .profile-info p {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

header .profile-info a {
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-decoration: none;
    border: solid transparent 5px;
    padding: 2px 15px;
    font-weight: 700;
    transition: .25s;
    background-color: white;
    margin: 10px 0;
    display: inline-block;
    margin-right: 20px;
}

header .profile-info a:hover,
header .profile-info a.edit:hover {
    border: solid rgba(0, 0, 0, 0) 5px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

header .profile-info a.edit {
    background-color: var(--user_color);
    color: white;
}


/* header .profile-info a {
    border: dashed rgba(255, 255, 255, 0) 3px;
} */

.profile-card {
    margin-left: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    /* height: 30vh; */
    width: 20%;
    min-width: 300px;
    /* max-width: 400px; */
    border-radius: 15px;
    border: rgba(255, 255, 255, 0.3) 1px solid;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px 20px;
    height: 160px;
}

.profile-card .sub {
    display: flex;
    /* justify-content: center; */
    padding-left: 30px;
    align-items: center;
    margin-top: 20px;
}

.profile-card .sub h2 {
    font-size: 20px;
}

.profile-card .sub p {
    font-size: 10px;
}

.profile-card img {
    margin-right: 20px;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 300px;
}

.profile-card h3 {
    margin: 10px 0;
    text-transform: uppercase;
}